.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 98%;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
    border: 2px solid var(--accent-color-2);
    color:var(--white-color);
}

.filter-bar {
    background-color:white;
}