#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--background-color-1);
  overflow-y:hidden;
  height:100%;
  width:100%;
}
:root {
  --background-color-1: #25274D;
  --background-color-2: #464866;
  --white-color: #AAABB8;
  --accent-color-1: #2E9CCA;
  --accent-color-2: #29648A;
}
